.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 10px 20px;
}

.App-body .nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  padding: 10px 0;
  width: max-content;
}

.App-body .nav-buttons button {
  margin: 0 5px 0 0;
}
